@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
.background {
    font-size: 5rem;
    font-family: "Montserrat";
    line-height: 1.1;
    /* color: "gray"; */
    position: absolute;
    z-index: 1;
}
